.button {
  height: 4.6rem;
  background: var(--color-primary) 0% 0% no-repeat padding-box;
  border: 1px solid var(--color-primary);
  color: var(--color-white);
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 3rem;
}

.animation:hover {
  transform: scale(1.01);
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}
