.header {
  background: transparent linear-gradient(253deg, #303f60 0%, #1a253c 100%) 0%
    0% no-repeat padding-box;
  font-size: 2rem;
  color: white;

  padding: 2rem 4rem;
  border-bottom: 1px solid gray;
}

.logo {
  font-weight: 700;
  cursor: pointer;
}

.logo > span {
  color: var(--color-primary);
}
