.form {
  padding: 7rem 2rem;
  background: transparent linear-gradient(253deg, #303f60 0%, #1a253c 100%) 0%
    0% no-repeat padding-box;
  display: flex;
  justify-content: center;
}

.form__container {
  display: flex;
  flex-direction: column;
}
